* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* #Content {
  max-height: 440px;
} */

@media only screen and (max-width: 300px) {
  #header {
    display: none;
  }
}
.container {
  border-style: solid;
  border-width: 5px;
}

img {
  border-radius: 50%;
  height: 50px;
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  color: white;
}

#submenu {
  margin: 10px;
}
#submenu:hover {
  font-weight: bold;
  cursor: pointer;
}

#content1,
#content2,
#content3 {
  border: 2px solid black;
  padding: 20px;
  border-radius: 50px;
}

#lang {
  position: relative;
  float: right;
}
